@import "bootstrap/less/bootstrap.less";
@import "variables.less";

body {
	background-color: @color-light-grey;
	padding-top: 102px;
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, Serif;

}

#card {
		text-align: center;
		margin: 10px;
		padding-bottom: 10px;
	    background-color: @fade-teal;
	    img {
	    	width: 100%;
	    	height: auto;
	    }

	    Button {
	    	margin: 10px;

	    }
	}

#heading-box {
	width:100%;
	height:80px;
	background-color: @color-yellow-light;
	text-align: center;
	padding-top:3px;
}


#message-box {
	width:100%;
	height:80px;
	background-color: @color-yellow-light;
	text-align: center;
	padding-top:3px;
}





