
//== FONTS
@primary-font: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, San-Serif;
@secondary-font: Georgia, Serif;

//== COLOURS

//primary
@color-black: #333;  
@color-white: #fff;
@color-light-grey: #eeeeee;
@color-dark-grey: #292f33;
@color-yellow: #fedf10;
@color-teal: #0097a7;
@color-deep-blue: #121e37;

//secondary
@color-yellow-light: #fce36b;

//darken
@darken-teal: darken(@color-teal, 10%);
@darken-light-grey: darken(@color-light-grey, 50%);

//lighten
@fade-teal: fade(@color-teal, 25%);


//== FONT SETTINGS



.bold (@font-weight: 600) {
	font-weight: @font-weight;
    font-style: normal;
}
.italic (@font-style: italic) {
	font-style: @font-style;
}
.normal (@font-style: normal) {
    font-style: @font-style;
}

 h1 .small {
    font-weight: bold;
    line-height: 1;
    color: @color-white;
}





